body {
    background-image: url("https://images.unsplash.com/photo-1606291587144-161d2a54d129?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2134&q=80");
    background-size: cover;
    background-position: 50% 50%;
}

.navbar-blur{
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);  
}


.material-symbols-outlined {
    color: black;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
